<body class="homepage">
</br>
    <div class="jumbotron" style="background-image: url(/assets/safety.jpg); background-size: cover; " >
      <div class="container active">
          <h1>SAFE - Sentimental Analysis For Employees</h1>
        
          <span class="caret"></span>
          <p>Combines Massive Data Intake to Analysis employee mood and sentiments using powerful API and Alerting Employer of any changes</p>
        
  
      </div>
    </div>

    <div class="section center first-visualize">
      <span class="anchor" id="stop-searching"></span>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Stop Searching</h2>
            <p class="tagline">Our High accurate data mining can understand and predict your employees mood in <strong>real-time.</strong> It enables you to pinpoint surging trends as they’re happening, without ever needing to know where to look for them.</p>
            <div class="sonar-iframe"></div>
            <%= link_to 'Explore the Stream', employees_path, class:"btn btn-primary" %>
            <div class="hidden fallback">
              <img src="/" alt="Sonar" width="100%">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section center second-discover">
      <span class="anchor" id="discover"></span>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Discover</h2>
            <p class="tagline">Discover your Employees mood and Sentiment through our powerful web app.</p>
          </div>
        </div>

        <div class="row circles">
          <div class="col-sm-6 col-md-4">
            <div class="image-wrap">
              <img class="img-circle" src="/assets/spotlight.jpg" alt="Spotlight">
            </div>
            <h3>Spotlight</h3>
            <p>trends that matter for employees security</p>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="image-wrap">
              <img class="img-circle" src="/assets/visualize.jpg" alt="Visualize">
            </div>
            <h3>Visualize</h3>
            <p>Lorem Ipsum Lorem Dalaa Lorem Ipsum Lorem</p>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="image-wrap">
              <img class="img-circle" src="/assets/track.jpg" alt="Track">
            </div>
            <h3>Track</h3>
            <p>Lorem Ipsum Lorem Dalaa Lorem Ipsum Lorem</p>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="image-wrap">
              <img class="img-circle" src="/assets/analyze" alt="Analyze">
            </div>
            <h3>Analyze</h3>
            <p>Lorem Ipsum Lorem Dalaa Lorem Ipsum Lorem</p>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="image-wrap">
              <img class="img-circle" src="/assets/know.jpg" alt="Know">
            </div>
            <h3>Know</h3>
            <p>Lorem Ipsum Lorem Dalaa Lorem Ipsum Lorem</p>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="image-wrap">
              <img class="img-circle" src="/assets/shape.jpg" alt="Shape">
            </div>
            <h3>Shape</h3>
            <p>Lorem Ipsum Lorem Dalaa Lorem Ipsum Lorem</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-orange btn-md" href="/">Learn more about our Product</a>
          </div>
        </div>

      </div>
    </div>

    <div class="section center third-difference">
      <span class="anchor" id="bottlenose-difference"></span>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>The SAFE Difference</h2>
            <p class="tagline">combines massive data intake, sophisticated topic discovery and NLP classification, robust trend analytics, live visualizations, and the industry’s best sentiment analysis — all in real time.</p>
            <div class="scatterplot-iframe"></div>
            <%= link_to 'Explore the Stream', employees_path, class:"btn btn-primary" %>
            <div class="hidden fallback">
              <img src="" alt="Scatterplot" width="100%">
            </div>
          </div>
        </div>
      </div>
    </div>
  

</body>