<div class="col-md-12">

<div class="row container">

<div class="pull-left" style="margin-top: 50px; !important">
<%= link_to 'Add New Employee', new_employee_path, class:"btn btn-default btn-success" %>
</div>


<ul class="col-md-8 pull-left">

<div class="list-group">
<% @employee.each do |f| %>
			<%	@test = Tweet.where("handle LIKE ?", f.handle) %>
			<%  c = @test.where("created > ?", Time.now-12.days).count %>
			<% if c > 0 %>
				<% @test = @test.limit(c) %>
				<%	@percentage = 0 %>
				<% @test.each do |l| %>
						<% @percentage = @percentage + l.score %>
				<% end %>
				<% @percentage = @percentage / c %>


				<p>
					<%= link_to f.name , employee_path(f) , class: "list-group-item disabled" %>
					<span class="badge"><% @percentage %> </span>
				</p>
		
				 
				<% end %>
<% end %>

</div>

</div>

</div>

</div>